services:

  db:
    image: postgres:latest
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    ports:
      - "5452:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d mydatabase || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080


  backend:
    image: backend-image
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mastercard-booking-backend
    ports:
      - "8050:8000"
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: myuser
      DB_PASSWORD: mypassword
      DB_NAME: mydatabase
    volumes:
      - ./backend:/app
    networks:
      - default

networks:
  default:
    name: mastercard-network

volumes:
  postgres_data: